# Environnement virtuel
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MODELS
models/*
!models/.gitkeep

# REPORTS
reports/*
!reports/.gitkeep

# DATA
## RAW 
data/raw/*
!data/raw/.gitkeep

## PROCESSED 
data/processed/*
!data/processed/.gitkeep

# SYSTÈME
.DS_Store
Thumbs.db