# Environnement virtuel
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Modèles et sorties
models/*
!models/.gitkeep

reports/*
!reports/.gitkeep

# Data
data/processed/*
!data/processed/.gitkeep

# Fichiers système / éditeur
.DS_Store
Thumbs.db